:root {
    --primary-color: #FFFFFF; 
    --secondary-color: #E6F0D0; 
    --tertiary-color: #7DE03B; 
    --quaternary-color: #006C00;
}

body{
    background-color: var(--secondary-color);
}

.name-container{
    justify-content: center;
    align-items: center;
    height: 100vh;
}