* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "oswald_regular";
    src: url("../../public/assets/fonts/oswald/Oswald-Regular.ttf");
}

.bill-history-page {
    font-family: "oswald_regular";
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 120px;
    background-color: #E6F0D0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    gap: 100px;
}

img {
    height: 100px;
}

.navbuttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.navbutton, .billsnavbutton {
    height: 50px;
    width: 50px;
    background-color: white;
    border: 1px solid #006200;
    border-radius: 100%;
    padding: 10px;
    cursor: pointer;
}

.billsnavbutton {
    background-color: #E6F0D0;
}

button img {
    width: 30px;
    height: 30px;
}

.signout {
    background: none;
    border: none;
    padding-bottom: 20px;
    cursor: pointer;
}

.signout img {
    width: 40px;
    height: auto;
}

.payment-history-content {
    margin-left: 160px;
    margin-right: 50px;
    padding-top: 30px;
    padding-bottom: 50px;
    height: 100vh;
    overflow-y: auto;
}

.title {
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: lighter;
    letter-spacing: 1px;
}

.payment-history-main-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.innercontainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.payments {
    display: flex;
    justify-content: space-between;
    border: 2px solid #006200;
    border-radius: 10px;
    padding: 20px;
}

.paymentdetails, .paymentammount {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
