* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "oswald_regular";
    src: url("../../public/assets/fonts/oswald/Oswald-Regular.ttf");
}

.camera-status-page {
    font-family: "oswald_regular";
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 120px;
    background-color: #E6F0D0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    gap: 100px;
}

img {
    height: 100px;
}

.navbuttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.navbutton, .camnavbutton {
    height: 50px;
    width: 50px;
    background-color: white;
    border: 1px solid #006200;
    border-radius: 100%;
    padding: 10px;
    cursor: pointer;
}

.camnavbutton {
    background-color: #E6F0D0;
}

button img {
    width: 30px;
    height: 30px;
}

.signout {
    background: none;
    border: none;
    padding-bottom: 20px;
    cursor: pointer;
}

.signout img {
    width: 40px;
    height: auto;
}

.camera-status-content {
    margin-left: 160px;
    margin-right: 50px;
    padding-top: 30px;
    padding-bottom: 50px;
    height: 100vh;
    overflow-y: auto;
}

.title {
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: lighter;
    letter-spacing: 1px;
}

.buttons {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.camera-status-button, .liftstatus-button {
    width: 200px;
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid green;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
}

.camera-status-button{
    background-color: green;
    color: white;
}

.liftstatus-button {
    color: green;
}

.camera-status-main-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.camerastatus {
    flex: 1 1 45%;
    border: 2px solid green;
    border-radius: 10px;
    height: 200px;
}
