/* src/components/currenthappenings.css */

.currenthappenings-container {
    font-family: 'oswald_regular';
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .content {
    margin-left: 160px;
    margin-right: 50px;
    padding-top: 30px;
    padding-bottom: 50px;
    min-height: 100vh;
  }
  
  .title {
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: lighter;
    letter-spacing: 1px;
  }
  
  .buttons {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
  }
  
  .dashboard-button,
  .billsdashboard-button {
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #006200;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    width: 200px;
  }
  
  .dashboard-button {
    background-color: #006200;
    color: white;
  }
  
  .billsdashboard-button {
    color: #006200;
  }
  
  .main-content {
    width: 100%;
    height: 70vh;
    border: 1px solid #006200;
    border-radius: 10px;
  }
  