* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "oswald_regular";
    src: url("../../public/assets/fonts/oswald/Oswald-Regular.ttf");
}
@font-face {
    font-family: "oswald_light";
    src: url("../../public/assets/fonts/oswald/Oswald-Light.ttf");
}
.current-complaints-page {
    font-family: "oswald_regular";
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.navbar {
    position:fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 120px;
    background-color: #E6F0D0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    gap: 100px;
}

img {
    height: 100px;
}

.navbuttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.navbutton ,.complaintsnavbutton{
    height: 50px;
    width: 50px;
    background-color: white;
    border: 1px solid #006200;
    border-radius: 100%;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
}
.complaintsnavbutton{
    background-color: #E6F0D0;
}

button img {
    width: 30px;
    height: 30px;
}

.signout {
    background: none;
    border: none;
    padding-bottom: 20px;
    cursor: pointer;
}
.signout img{
    width: 40px;
    height: auto;
}

.navbutton:hover::after, .complaintsnavbutton:hover::after, .signout:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    margin-left: 40%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    z-index: 10;
}
.current-complaints-content {
    margin-left: 160px;
    margin-right: 50px;
    padding-top: 30px;
    padding-bottom: 50px;
    height: 100vh;
}
.title {
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: lighter;
    letter-spacing: 1px;
}

.buttons {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.status-button,.pc-button {
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #006200;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
    width: 200px;
}

.pc-button {
    color:#006200 ;
}
.status-button {
    background-color: #006200;
    color: white;
}

.current-complaints-main-content {
    width: 100%;
    height: 70vh;
    border: 1px solid #006200;
    border-radius: 10px;
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.complaints{
    border: 2px solid #006C00;
    border-radius: 10px ;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    font-size: 25px;
    color: #006200;
    font-family: "oswald_light";
    letter-spacing: 1px;
}
.date{
    font-weight: bolder;
}