* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "oswald_regular";
    src: url("../../public/assets/fonts/oswald/Oswald-Regular.ttf");
}

.meetings-container{
    font-family: "oswald_regular";
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.navbar {
    position:fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 120px;
    background-color: #E6F0D0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    gap: 100px;
}

img {
    height: 100px;
}

.navbuttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.navbutton,.eventnavbutton {
    height: 50px;
    width: 50px;
    background-color: white;
    border: 1px solid #006200;
    border-radius: 100%;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
}
.eventnavbutton{
    background-color: #E6F0D0;
}

button img {
    width: 30px;
    height: 30px;
}

.signout {
    background: none;
    border: none;
    padding-bottom: 20px;
    cursor: pointer;
}
.signout img{
    width: 40px;
    height: auto;
}

.content {
    margin-left: 160px;
    margin-right: 50px;
    padding-top: 30px;
    padding-bottom: 50px;
    height: 100vh;
    overflow-y:auto;
}

.title {
    font-size: 36px;
    margin-bottom: 20px;
    font-family: "oswald_regular";
    letter-spacing: 1px;
}
.navbutton:hover::after, .eventnavbutton:hover::after, .signout:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    margin-left: 40%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    z-index: 10;
}
.controls {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.month-button, .year-button {
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid green;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
}

.year-button {
    background-color: green;
    color: white;
}

.main-content {
    display: flex;
    gap: 20px;
}

.calendar {
    display: flex;
    flex-direction: column;
    border: 2px solid green;
    border-radius: 10px;
    flex-grow: 1;
}

.calendar-header, .calendar-body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.calendar-header {
    background-color: green;
    color: white;
    padding: 10px 0;
    align-items: center;
    text-align: center;
}

.calendar-body {
    padding: 10px;
}

.calendar-body div {
    border: 1px solid green;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.schedule {
    border: 2px solid green;
    border-radius: 10px;
    padding: 20px;
    min-width: 500px;
}