.navbar {
    background-color: #e4e4e400;
    color: #fff; 
    padding: 10px 0; 
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    height: 222px;
    margin: 0 auto;
  }
  
  .navbar-element {
    color: #612121; 
    padding: 10px;
  }
  
  .navbar-logo {
    /* Styling for logo */
    width: 50px; /* Example width */
    height: 50px; /* Example height */
    color: #fff; /* Example text color */
    font-size: 20px; /* Example font size */
    padding: 10px; /* Example padding */
    margin-right: 20px; /* Example right margin */
}

  